menu "CONFIGURACIÓN DEL DRIVER (MOTOR)"
    config MOTOR_LEFT_GPIO
        int "PIN ENABLE MOTOR IZQUIERO"
        default 5
        help
            Número de PIN para el puerto ENABLE del motor izquierdo

    config MOTOR_RIGHT_GPIO
        int "PIN ENABLE MOTOR DERECHO"
        default 27
        help
            Número de PIN para el puerto ENABLE del motor derecho

    config MOTOR_LEFT_IN1
        int "IN1 MOTOR IZQUIERDO"
        default 16
        help
            PIN IN1 del motor izquierdo
        
    config MOTOR_LEFT_IN2
        int "IN2 MOTOR IZQUIERDO"
        default 17
        help
            PIN IN2 del motor izquierdo

    config MOTOR_RIGHT_IN1
        int "IN1 MOTOR DERECHO"
        default 25
        help
            PIN IN1 del motor derecho
        
    config MOTOR_RIGHT_IN2
        int "IN2 MOTOR DERECHO"
        default 26
        help
            PIN IN2 del motor derecho

    config MOTOR_DRIVER_DUTY_RES
        int "DUTY RESOLUTION (BITS)"
        default 13
        help
            Número de ciclos de trabajo disponibles en un periodo de PWM

    config MOTOR_DRIVER_PWM_FREQ
        int "PWM FREQUENCY (Hz)"
        default 5000 
        help
            Número de períodos de PWM por segundo (Hz)
endmenu

menu "MPU6050"
    config CONFIG_MPU6050_SLAVE_ADDR
        int "DIRECCIÓN DEL REGISTRO WHO_AM_I"
        default 0x68
        help
            Dirección del registro del MPU6050 para envío de datos por I2C
endmenu